<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Авторизация пользователя</title>
</head>
<body>


<form th:action="@{/sign-in}" th:method="POST" th:object=${user}>

    <label for="login">Name</label>
    <input type="text" th:field="*{login}" id="login"/>
    <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
          style="color: red;"></span>

    <br/>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
          style="color: red;"></span>
<br>
    <input type="submit" value="Войти в аккаунт"/>
</form>


Don't have an account? <a th:href="@{/sign-up}">Sign up here </a>


</body>
</html>