
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Домашняя страница пользователя</title>
</head>
<body>


Welcome
<div th:if="${user != null}">
    Welcome <span th:text="${user.login}">Имя пользователя</span>
</div>
!

<br>
<br>


<a th:href="@{/sign-in/logout}">Sign out</a>


<form th:action="@{/locations/search-results}" method="GET">
    <input type="text"
           name="locationName"
           th:placeholder="'Введите название локации'"
           required>
    <button type="submit">Найти</button>
</form>


</body>
</html>